/* Swiper.css */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 130px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  box-shadow: none !important; /* Remove the shadow */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 85%;
}
